@model ControleVendas.Models.Pedido

@{
    ViewData["Title"] = "Delete";
}

<h2>Tem certeza que deseja apagar esse pedido?</h2>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-md-2">
            @Html.DisplayNameFor(model => model.Produto_Id)
        </dt>
        <dd class = "col-md-2">
            @Html.DisplayFor(model => model.Produto_Id)
        </dd>
        <dt class = "col-md-2">
            @Html.DisplayNameFor(model => model.Cliente_Id)
        </dt>
        <dd class = "col-md-2">
            @Html.DisplayFor(model => model.Cliente_Id)
        </dd>
        <dt class = "col-md-2">
            @Html.DisplayNameFor(model => model.Vendedor_Id)
        </dt>
        <dd class = "col-md-2">
            @Html.DisplayFor(model => model.Vendedor_Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PedidoID" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning white-text">Voltar</a>
    </form>
</div>
