@model ControleVendas.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes do cliente</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-md-1">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-md-5">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.CpfCnpj)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.CpfCnpj)
        </dd>
        <dt class="col-md-1">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-md-3">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-md-1">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-md-3">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-md-1">
            @Html.DisplayNameFor(model => model.Senha)
        </dt>
        <dd class="col-md-3">
            @Html.DisplayFor(model => model.Senha)
        </dd>
        <dt class="col-md-1">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class="col-md-3">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt class="col-md-1">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class="col-md-3">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class="col-md-2">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt class="col-md-1">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class="col-md-2">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class="col-md-1">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class="col-md-2">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class="col-md-1">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-md-2">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-md-1">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class="col-md-2">
            @Html.DisplayFor(model => model.CEP)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClienteId" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-warning white-text">Voltar</a>
</div>
