@model IEnumerable<ControleVendas.Models.Acesso>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between">
    <h2>Níveis de acesso</h2>
    <a asp-action="Create" class="btn btn-success">Cadastrar novo nível de acesso</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AcessoID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcessoNivel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AcessoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcessoNivel)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.AcessoID" class="btn btn-warning white-text btn-sm"> <i class="bi bi-pencil-fill"></i> Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.AcessoID" class="btn btn-primary white-text btn-sm"><i class="bi bi-info-circle-fill"></i> Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.AcessoID" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i> Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
