@model ControleVendas.Models.Produto

@{
    ViewData["Title"] = "Delete";
}

<h2>Tem certeza que deseja apagar esse produto?</h2>
<div>
    <hr />
    <dl class="row">
        <dt class="col-md-1">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-md-5">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-md-1">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-md-2">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class="col-md-1">
            @Html.DisplayNameFor(model => model.Estoque)
        </dt>
        <dd class="col-md-2">
            @Html.DisplayFor(model => model.Estoque)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProdutoID" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning white-text">Voltar</a>
    </form>
</div>
