@model IEnumerable<ControleVendas.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de funcionários</h2>

<p>
    <a asp-action="Create">Cadastrar novo funcionário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAdmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelAcessoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAdmissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelAcessoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FuncionarioID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.FuncionarioID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.FuncionarioID">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
