@model IEnumerable<ControleVendas.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between">
    <h2>Lista de Funcionários</h2>
    <a asp-action="Create" class="btn btn-success">Cadastrar novo funcionário</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAdmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelAcessoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAdmissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelAcessoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.FuncionarioID" class="btn btn-warning white-text btn-sm"> <i class="bi bi-pencil-fill"></i> Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.FuncionarioID" class="btn btn-primary white-text btn-sm"><i class="bi bi-info-circle-fill"></i> Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.FuncionarioID" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i> Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
